.container-password{
  margin: 0px;
  padding-left: 0px;
  padding-right: 0px;
  
}
.rowALl{
  width: 1920px;
  height: 1920px;
  background-color: #FFF0CE;
}

.padLeft-password{
/* background-color:#FFFFFF; */
position: absolute;
width: 840px;
height: 1080px;
left: 0px;
top: 0px;
}

.logo-password{
/* margin-top: 66px; */
  
position: absolute;
left: 9.38%;
right: 75.8%;
top: 6.11%;
bottom: 89.44%;

margin-left: 130px;
/* background: #FFFFFF; */
}
.create-password{
margin-top:190.82px;

left: 9.38%;
right: 76.15%;
top: 27.78%;
bottom: 66.67%;
margin-left: 180px;
font-family: IBM Plex Sans;
font-style: normal;
font-weight: 500;
margin-right: 180px;
font-size: 36px;
line-height: 60px;
/* identical to box height, or 167% */

display: flex;
align-items: center;

color: #2B1C1C;
}
.password{

margin-top: 36px;
width: 480px;
height: 72px;
left: 9.38%;
right: 76.15%;
top: 396px;
margin-left: 180px;
margin-right: 180px;
background: #FFFFFF;
border: 1px solid rgba(150, 12, 12, 0.5);
box-sizing: border-box;
border-radius: 6px;

}

.confirm-password{
margin-top: 24px;
width: 480px;
height: 72px;
left: 9.38%;
right: 76.15%;
top: 492px;
margin-left: 180px;
margin-right: 180px;
background: #FFFFFF;
border: 1px solid rgba(150, 12, 12, 0.5);
box-sizing: border-box;
border-radius: 6px;


}
.submit-password{
margin-left: 180px;
margin-right: 180px;  
left: 9.38%;
right: 76.15%;
top: 0%;
margin-top: 84px;
width: 485px;
height: 70px;
color: white; 
background: #FF2E2E;
border-radius: 6px;
text-size-adjust: 50px;
}
.patner-password{
position: absolute;
width: 1400px;
height: 1080px;
left: 840px;
top: 0px;
/* padding-right: 150px; */

background: #FFF0CE;
}

.patnerbtn-password{
  margin-top: 66px;
  width: 210px;
  height: 60px;
  left: 1500px;
  top: 60px;
  color: #FF2E2E;
  border: 2px solid #FF2E2E;
  box-sizing: border-box;
  border-radius: 6px;
  margin-left: 690px;
  background: #FFF0CE;
  
}

.nav-amazing{
  position: absolute;
width: 1980px;
height: 120px;
left: 0px;
top: 0px;

background: #FFFFFF;
}
.hello-amazing{

position: absolute;
  
width: 169px;
height: 27px;
left: 1571px;
top: 46px;
  
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 21px;
  line-height: 27px;
  display: flex;
  align-items: center;
  text-align: right;
  letter-spacing: 0.05em;
  
  color: #960C0C;
}
.semi-amazing{
position: absolute;
width: 284px;
height: 48px;
left: 180px;
right: 75.8%;
top: 36px;
bottom: 36px;

}
.box-amazing{

position: absolute;
width: 600px;
height: 820px;
left: 660px;
right: 660px;
top: 200px;

background: #FFFFFF;
box-shadow: 0px 15px 30px rgba(141, 125, 125, 0.15);
border-radius: 18px 18px 0px 0px;
}
.circle-amazing{
position: absolute;
width: 120px;
height: 120px;
left: 120px;

top: 119px;
border-radius: 50%;

background: #F6F6F6;
}
.amazing{
position: absolute;
left: 120px;
right:265px;
top: 323px;
/* bottom: 24px; */


font-family: IBM Plex Sans;
font-style: normal;
font-weight: bold;
font-size: 54px;
line-height: 60px;
/* identical to box height, or 111% */

display: flex;
align-items: center;
letter-spacing: -0.02em;

color: #FF2E2E;

}
.msg-amazing{
position: absolute;
left: 120px;
right: 242px;
top: 407px;
width: 238px;
height: 157px;

font-family: IBM Plex Sans;
font-style: normal;
font-weight: normal;
font-size: 21px;
line-height: 175%;
/* or 37px */

letter-spacing: -0.02em;

color: #2B1C1C;
}
.next-amazing{
position: absolute;
left: 120px;
right: 213px;
top: 323px;
/* bottom: 42.31%; */

font-family: IBM Plex Sans;
font-style: normal;
font-weight: bold;
font-size: 54px;
line-height: 60px;
/* identical to box height, or 111% */

display: flex;
align-items: center;
letter-spacing: -0.02em;

color: #FF2E2E;
width: 267px;
height: 60px;


}


.back-amazing{
position: absolute;
width: 240px;
height: 72px;
left: 120px;
right: 240;
top: 600px;

color: white;

background: #FF2E2E;
border-radius: 6px;

}
.amazing-body{
  position: absolute;
width: 1980px;
height: 1080px;
left: 0px;
top: 0px;
background: #F6F6F6;
}

