input{ 
    /* width: 480px; */
    height: 72px;
    /* left: 180px;
    top: 396px;     */
    background: #FFFFFF;
    border: 1px solid rgba(150, 12, 12, 0.5);
    box-sizing: border-box;
    margin-top: 24px;
    
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    display: flex;
    align-items: center;
    letter-spacing: 0.05em;
    color: #2B1C1C;
}  
input:focus {
outline: 0;
border-color: #FF2E2E;
background-color: white;
box-shadow: none;
}
input:focus::-webkit-input-placeholder {
opacity: 10;
text-overflow: ellipsis;
transform-origin: left top;
transform: translate(0, 1.025rem) scale(0.7);
padding-top: 140px;
color: #FF2E2E;
white-space: nowrap;
overflow: hidden;
font-family: IBM Plex Sans;
font-style: normal;
font-weight: normal;
transition: all 0.2s;
touch-action: manipulation;
}
::-webkit-input-placeholder {
opacity: 1;
transition: inherit;
}
.fade-enter-active, .fade-leave-active {
    transition: opacity .5s
}
.fade-enter, .fade-leave-active {
    opacity: 0
}
.register_input1{
    height: 72px;
    background: #FFFFFF;
    border: 1px solid rgba(150, 12, 12, 0.5);
    box-sizing: border-box;
    border-radius: 6px;

    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    display: flex;
    align-items: center;
    letter-spacing: 0.05em;
    color: #2B1C1C;
}
.register_input2{    
    height: 72px;
    background: #FFFFFF;
    border: 1px solid rgba(150, 12, 12, 0.5);
    box-sizing: border-box;
    border-radius: 6px;

    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    display: flex;
    align-items: center;
    letter-spacing: 0.05em;
    color: #2B1C1C;
}
#register_fil{
    margin-top: 80px;
    max-width: 480px;
    
}
select{     
    height: 72px;
    margin-top: 24px;
    left: 180px;
    top: 588px;
    
    background: #FFFFFF;
    border: 1px solid rgba(150, 12, 12, 0.5);
    box-sizing: border-box;
    border-radius: 6px;   
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    display: flex;
    align-items: center;
    letter-spacing: 0.05em;    
}
select:focus{
    outline: 0;
    border-color: #FF2E2E;
    background-color: white;
    box-shadow: none;
}


#register_frame-col1{
    background-color: white;
    /* margin-left: 5px; */
    padding: 0 9%;
    
}
#register_frame-col2{
    background-color: #FFF0CE;
    padding: 0px;
}
#register_submit{
    background-color:red; 
    color: white; 
    border: 1px solid red; 
    width:100%;
    /* width: 480px; */
    height: 72px;
    left: 180px;
    top: 850px;
    margin-top: 94px;
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 21px;
    line-height: 27px;
    /* display: flex; */
    align-items: center;
    text-align: center;
    letter-spacing: 0.05em;
    color: #FFFFFF;
}
button{border-color:red; 
    color: red;
}
a{
    color: crimson;
}
img{
    padding: 10% 7px;   
  }
#register_partner{
    float: right;
    margin-top: 55px;
    margin-right: 150px;
    height: 55px;
    /* left: 1530px;
    top: 60px; */
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 27px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.05em;    
    color: #FF2E2E;
}
#register_partner:hover{
    background-color: #FFFFFF;
}

#register_bigform{
    padding-top: 12px;
    margin: 0px;
}
#register_bigform1{
    padding-top: 2px;
    margin: 0px;
}

#dob{
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    display: flex;
    align-items: center;
    letter-spacing: 0.05em;
    color: #2B1C1C;
}

.wrapper{
    position: relative;
    width: 100%;
    height: 1080px;
    background: #F6F6F6;
}


.conbox{
    position: absolute;
    width: 1800px;
    height: 840px;
    left: 60px;
    top: 180px;
    margin-left: 50px;
    margin-right: 50px;
    background: #FFFFFF;
    box-shadow: 0px 40px 40px rgba(130, 130, 130, 0.15);
    border-radius: 18px;
}
.conboxCol{
    border-bottom: 1px solid rgba(130, 130, 130, 0.15);
    border-right: 1px solid rgba(130, 130, 130, 0.15);
}
.hr{
    border: 1px solid rgba(130, 130, 130, 0.15);
    /* transform: rotate(90deg); */
}
.first{    
    border-right: 1px solid rgba(130, 130, 130, 0.15);
    
    
}
.pa{
    margin-top: 5em;    
    color: #431288;
}
.menu{
    padding-left: 3rem;
    border-right: 1px solid rgba(130, 130, 130, 0.15);
}
.spanImg{
    padding-right: 3rem;
}
.app{
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    margin-top: 5em;
    padding-left:1.5em;
    color: rgba(43, 28, 28, 0.5);
}
.but{
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    border: 1px solid yellow;
    margin-left: 1.5em;
    color: #960C0C;
}
.deci{
    padding-right: 1rem;
}
.wrap2{
    margin-top: 5rem;
    padding-left: 2rem;
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    display: flex;
    align-items: center;
    letter-spacing: 0.02em;
    border-top: 1px solid rgba(130, 130, 130, 0.15);
    padding-top: 1.5rem;
}
.wrap3{
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 27px;
    display: flex;
    /* align-items: center; */
    /* text-align: center; */
    letter-spacing: 0.02em;
    margin-bottom: -2rem;
}
h5{
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 27px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.02em;

    color: rgba(43, 28, 28, 0.85);
}
.row1{
    margin-top: 5rem;
    background: #FFF2C7;
    border-radius: 12px;
    height: 155px;
    box-shadow: 0px 20px 20px rgba(130, 130, 130, 0.15);
}
#prog{
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 21px;
    line-height: 27px;
    display: flex;
    align-items: center;
    padding-left: 1em;
    padding-top: 2em;
    letter-spacing: -0.02em;

    color: #960C0C;
}
.appl{
    padding-left: 2.6em;

}
.imgs{

    padding: 0em;
}
.inner{
    margin-top: 5rem;
    height: 330px;
    background: #FFF2C7;
    border-radius: 12px;
    box-shadow: 0px 20px 20px rgba(130, 130, 130, 0.15);
}
.bioRow{
    padding-left: 1.4rem;
    padding-top: 1rem;
}
h6{
    font-family: IBM Plex Sans;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 16px;
/* identical to box height */

display: flex;
align-items: center;
letter-spacing: 0.05em;

color: #2B1C1C;
}
#details{
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    /* identical to box height */

    display: flex;
    align-items: center;
    letter-spacing: 0.05em;

    color: #2B1C1C;

}